/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: white;
}

/* ===== HERO SECTION WITH BACKGROUND IMAGE ===== */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("Gemini.png"); /* change to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Mobile responsive fix */
  background-attachment: fixed;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: 0.3s;
}

nav a:hover {
  color: yellow;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo span {
  color: yellow;
}

.hero-text {
  margin-top: 20vh;
  text-align: center;
  padding: 0 20px;
}

.hero-text h1 {
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}

.hero-text p {
  font-size: 18px;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 18px;
  background: yellow;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

/* ===== ABOUT ===== */
.about, .skills, .projects, .contact {
  padding: 70px 20px;
  text-align: center;
  background: #111;
}

.skills {
  background: #151515;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.skill-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

/* ===== PROJECTS ===== */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background: #222;
  padding: 25px;
  border-radius: 10px;
}

/* ===== CONTACT ===== */
.contact {
  background: #111111;
}

/* ===== RESPONSIVE FIXES ===== */
@media (max-width: 768px) {
  .hero-text h1 {
      font-size: 30px;
  }

  nav ul {
      display: none;
  }
}

.highlight{
  font-style: monospace;
}

